doctype
html( lang="it" )
    head
        title CESOP Demo
        //- Bootstrap
        link(href="/bootstrap.min.css", rel="stylesheet")
        link(href="/style.css", rel="stylesheet")
    body
        .container
            .header
                form(name="input", action="/cerca", method="post")
                    div.form-row.align-items-center
                        div.col-sm-5
                            input.cerca(type="text", name="cerca", placeholder="Cerca" required)
                        div.col-sm-2
                            select(name="tipo")
                                option(value="Competenze") competenza
                                option(value="Aziende") esperienza
                        div.col-sm-3
                            input(type="radio" name="livello" value="0" checked="true" id="livello0")
                            label(for='livello0') Livello 0
                            input(type="radio" name="livello" value="1" id="livello1")
                            label(for='livello1') Livello 1
                            input(type="radio" name="livello" value="2" id="livello2")
                            label(for='livello2') Livello 2
                        div.col-auto
                            button(type="submit", class="btn btn-primary") Cerca