doctype
html( lang="it" )
    head
        title CESOP Demo
        //- Bootstrap
        link(href="/bootstrap.min.css", rel="stylesheet")
        link(href="/style.css", rel="stylesheet")
    body
        .container
            .header
                form(name="input", action="/cerca", method="post")
                    div.form-row.align-items-center
                        div.col-sm-9
                            input.cerca(type="text", name="cerca", placeholder="Cerca")

                        div.col-auto
                            button(type="submit", class="btn btn-primary") Cerca